{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Vue détaillée 
	<div style="float: right;" class="btn-group">
		<a class="btn" href="{{ path('section') }}">
			<i class=" icon-arrow-left"></i>
			retour à liste
		</a>
	    <a class="btn" href="{{ path('section_edit', { 'id': entity.id }) }}">
	    	<i class=" icon-edit"></i>
	        modifier
	    </a>
	    <a class="btn" href="">
	    	<i class=" icon-print"></i>
	        imprimer
	    </a>
    </div>
</h2>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="well span4">
	    <p><strong>Identifant : </strong>{{ entity.id }}</p>
	    <p><strong>Numero : </strong>{{ entity.numero }}</p>
	    <p><strong>Commune : </strong>{{ entity.commune }}</p>
    </div>
    <div class="span7" >
    	{% include 'GeosGeoEntityBundle::map00.html.twig' %}
    </div>
  </div>
</div>
{% endblock %}
