{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Ajouter une region</h2>

<form class="form-horizontal" action="{{ path('region_create') }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">Nom</label>
      <div class="controls" >
        {{ form_widget(form.nom,{"attr":{"class":"input-xlarge"}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Chef-lieu</label>
      <div class="controls" >
        {{ form_widget(form.chefLieu,{"attr":{"class":"input-xlarge"}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Geometrie</label>
      <div class="controls" >
        {{ form_widget(form.geometrie,{"attr":{"class":"input-xlarge choice"}}) }}
      </div>
    </div>
    <div class="form-actions">
    	<button class="btn btn-primary" type="submit" class="input-xlarge" >Enregistrer</button>
    	<a class="btn" href="{{ path('region') }}"><i class=" icon-arrow-left"></i>Retourner à la liste</a>
    </div>
  </fieldset>
</form>
{% endblock %}