{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Ajouter un point d'eau</h2>

<form class="form-horizontal" action="{{ path('pointeau_create') }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">Type de point d'eau</label>
      <div class="controls" >
        {{ form_widget(form.peType,{"attr":{"class":"input-xlarge petype","onChange":"changeZone()"}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Date de M.e.s*</label>
      <div class="controls">
        {{ form_widget(form.dateMes)}}
        <p class="help-block">M.e.s : Mise en service</p>
      </div>
    </div>
    <div class="control-group zone">
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Publié</label>
      <div class="controls">
        {{ form_widget(form.status,{"attr":{"class":"input-xlarge"}}) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Coordonnées géographiques</label>
      <div class="controls">
        {{ form_widget(form.geometrie,{"attr":{"class":"input-xlarge"}}) }}
        <p class="help-block">Ex : (4.34 2.5)</p>
      </div>
    </div>
    <div class="form-actions">
    	<button class="btn btn-primary" type="submit" class="input-xlarge" >Enregistrer</button>
    	<a class="btn" href="{{ path('pointeau') }}"><i class=" icon-arrow-left"></i>Retourner à la liste</a>
    </div>
  </fieldset>
</form>

<script type="text/javascript">	        
	var loc =  '{{ form_widget(form.zoi) }} ';	
	
 	function changeZone (){
 	 		var petype = $('.petype').val(); 	 	
 	 		
 	 		if(petype =='branchement'){
 	 			$('.zone').html('<label class="control-label" for="input01">Parcelle</label><div class="controls">'+loc+'</div>').show();
 	 		 	$("#location1").children('select').html("<option value = ''> choisir une province</option>").show();
 	 		    $("#location2").children('select').html("<option value = ''> choisir une commune</option>").show();
 	 		    $("#location3").children('select').html("<option value = ''> choisir une section</option>").show();
 	 		    $("#location4").children('select').html("<option value = ''> choisir un lot</option>").show();
 	 		    $("#location5").children('select').html("<option value = ''> choisir une parcelle</option>").show();
 	 		}
 	 		else if(petype =='pmh'||petype =='pem'||petype =='borne fontaine'){
 	 			$('.zone').html('<label class="control-label" for="input01">Commune</label><div class="controls">'+loc+'</div>').show();
 	 			$('#location3').hide();
 	 			$('#location3').children('select').removeAttr('required');
 	 			$('#location4').hide();
 	 			$('#location4').children('select').removeAttr('required');
 	 			$('#location5').hide();
 	 			$('#location5').children('select').removeAttr('required');
 	 		 	$("#location1").children('select').html("<option value = ''> choisir une province</option>").show();
 	 		    $("#location2").children('select').html("<option value = ''> choisir une commune</option>").show();
 	 		    $("#location3").children('select').html("<option value = ''> choisir une section</option>").show();
 	 		    $("#location4").children('select').html("<option value = ''> choisir un lot</option>").show();
 	 		    $("#location5").children('select').html("<option value = ''> choisir une parcelle</option>").show();
 	 		}
 	 	}
</script>
{% endblock %}

