{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Ajouter une parcelle</h2>

<form class="form-horizontal" action="{{ path('parcelle_create') }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">numero</label>
      <div class="controls" >
      {{ form_widget(form.numero,{"attr":{"class":"input-xlarge"}}) }}
      </div>
    </div>
    {{ form_widget(form.lot,{"attr":{"class":"input-xlarge"}}) }}
    <div class="control-group">
      <label class="control-label" for="input01">Geometrie</label>
      <div class="controls" >
      {{ form_widget(form.geometrie,{"attr":{"class":"input-xlarge"}}) }}
      </div>
    </div>
    <div class="form-actions">
    	<button class="btn btn-primary" type="submit" class="input-xlarge" >Enregistrer</button>
    	<a class="btn" href="{{ path('parcelle') }}"><i class=" icon-arrow-left"></i>Retourner à la liste</a>
    </div>
  </fieldset>
</form>
<script type="text/javascript">
$("#location1").children('select').html("<option value = ''> choisir une province</option>").show();
$("#location2").children('select').html("<option value = ''> choisir une commune</option>").show();
$("#location3").children('select').html("<option value = ''> choisir une section</option>").show();
$("#location4").children('select').html("<option value = ''> choisir un lot</option>").show();
$("#location5").children('select').html("<option value = ''> choisir une parcelle</option>").show();

$('#location5').hide();
$('#location5').children('select').removeAttr('required');
</script>
{% endblock %}