{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Modifier une classe</h2>

<form class="form-horizontal" action="{{ path('classe_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
  <fieldset>
  	  	
  	 <div class="control-group">
      <label class="control-label" for="input01">Centre de formation</label>
      <div class="controls">
        {{ form_widget(edit_form.centreFormation) }}
      </div>
    </div>
  	<div class="control-group">
      <label class="control-label" for="input01">Libellé</label>
      <div class="controls">
        {{ form_widget(edit_form.libelle) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Niveau</label>
      <div class="controls">
        {{ form_widget(edit_form.niveau) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Effectif Feminin</label>
      <div class="controls">
        {{ form_widget(edit_form.effectifFeminin) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Effectif Masculin</label>
      <div class="controls">
        {{ form_widget(edit_form.effectifMasculin)}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Année scolaire ou Academique</label>
      <div class="controls">
        {{ form_widget(edit_form.anneeScolaire)}}
      </div>
    </div>
    <div class="form-actions">
    	<button class="btn btn-primary" type="submit" class="input-xlarge" >Enregistrer</button>
    	<a class="btn" href="{{ path('centreformation_show', { 'id': cfId }) }}"><i class=" icon-arrow-left"></i>Annuler</a>
    </div>
  </fieldset>
</form>
{% endblock %}
