{% extends 'GeosMainBundle::entityManagement.html.twig' %}
{% block entityManagement %}
<h2 class="page-header" >Denrée: {{ pagination.totalCount }} élements dans la liste
	<div style="float: right;" class="btn-group">
	<a class="btn btn-primary" href="{{ path('denree_new') }}">
		<i class="icon-plus-sign icon-white"></i>
		ajouter
	</a>
	<a class="btn " href="#">
		<i class="icon-upload"></i>
		importer
	</a>
	<a class="btn" href="#">
    	<i class=" icon-print"></i>
        imprimer
    </a>
    <a class="btn" href="{{ path('prix') }}">
    	<i class="icon-arrow-left"></i>
        retour aux prix
    </a>
    </div>

</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>{{ pagination.sortable('Id', 'denree.id')|raw }}</th>
            <th>{{ pagination.sortable('Libellé', 'denree.libelle')|raw }}</th>
			<th>{{ pagination.sortable('Categorie', 'denree.categorie')|raw }}</th>      
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in pagination %}
        <tr>
            <td><a href="{{ path('denree_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.libelle }}</td>
			<td>{{ entity.categorie }}</td>
            <td>
            	<p>
	                <a href="{{ path('denree_edit', { 'id': entity.id }) }}" title="Modifier">
	                <i class="icon-edit"></i>
	                </a>
	               	<a href="{{ path('denree_delete', { 'id': entity.id }) }}" title="Supprimer">
	                <i class="icon-trash"></i>
	                </a>
                </p>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.render()|raw }}
{% endblock %}