{% extends 'GeosMainBundle::layout.html.twig' %}
{% block content %}
<h2 class="page-header">Ajouter un effectif d'agents pour une profession</h2>

<form class="form-horizontal" action="{{ path('agent_create') }}" method="post" {{ form_enctype(form) }}>
  <fieldset>
  	  	
  	 <div class="control-group">
      <label class="control-label" for="input01">Centre de sante</label>
      <div class="controls">
        {{ form_widget(form.centreSante) }}
      </div>
    </div>
  	<div class="control-group">
      <label class="control-label" for="input01">Profession</label>
      <div class="controls">
        {{ form_widget(form.libelle) }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Nombre</label>
      <div class="controls">
        {{ form_widget(form.nombre) }}
      </div>
    </div>
    <div class="form-actions">
    	<button class="btn btn-primary" type="submit" class="input-xlarge" >Enregistrer</button>
    	<a class="btn" href="{{ path('centresante_show', { 'id': csId }) }}"><i class=" icon-arrow-left"></i>Annuler</a>
    </div>
  </fieldset>
</form>
{% endblock %}